/**/
/**/
/*Main styles*/
/**/
/**/

/**/
/*colors*/
/**/
:root {
    --limegreen: #B4DB00;
    --mediumgreen: #4CB676;
    --darkgreen:#3B7B7B;
    --lightgray: #DBDFD5;
    --peach: #FA703F;
    --charcoal:#27332F;
    --white:#FFFFFF;
}

body {
  background-color: var(--lightgray);
  font-size: calc(10px + 0.5vw);
  font-family: 'Nunito', sans-serif;
  color: var(--charcoal);
  text-align: left;
}

h1 {
  color: var(--peach);
  font-size: calc(55px + 0.3vw);
  font-family: 'Pathway Gothic One', sans-serif;
}

h2 {
  color: var(--charcoal);
  font-family: 'Nunito', sans-serif;
  font-size: calc(25px + 0.5vw);
}

section {
  margin: 10vh 0;
}

/**/
/*Header*/
/**/
header {
  align-items: center;
  background: url('../img/tree.png') no-repeat center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 150vh;
  justify-content: flex-end;
  margin: 0 auto;
}

#hamburger-icon {
  position: fixed;
  top: 5%;
  right: 5%;
  width: 45px;
}

#header-text {
  padding-bottom: 55vh;
  text-align: center;
  width: 100%;
}

/*AGH*/
#title1 {
  font-size: 12em;
  margin: 0 auto;
}

/*Digital*/
#title2 {
  color: var(--peach);
  font-size: 6em;
}

/*Watch your ideas grow.*/
#title3 {
  color: var(--white);
  font-size: 3em;
}

header img {
  transition: 0.4s;
}

header img:hover {
    transform: scale(1.2);
}
/**/
/*Section 1*/
/**/

#section1 {
  margin: 10vh 0;
  position: relative;
}

#section1head {
  left: -1vw;
  position: absolute;
  top: 30vh;
  transform: rotate(270deg);
  transform-origin: 0 0;
  text-align: right;
}

@media (min-width: 768px) and (max-width: 960px) {
  #section1head {
    top: 36vh;
  }
}

/**/
/*Section 2*/
/**/

.feature {
  align-items: center;
  background-color: var(--mediumgreen);
  display: flex;
  float: none;
  height: 20vh;
  justify-content: center;
  margin: 10% auto;
  transition: 0.4s;
}

@media (min-width: 768px) and (max-width: 960px) {
  .feature {
    float: left;
}
}

.feature h1 {
  color: var(--lightgray);
  font-size: calc(35px + 0.3vw);
  text-align: center;
}

.feature:hover {
  box-shadow: 5px var(--limegreen);
  transform: scale(1.1);
}

#section2 .row {
  margin: 10% 0;
}

/**/
/*Signup form*/
/**/

#section4 {
  margin: 10vh 0;
  position: relative;
}

#section4head {
  left: 1vw;
  position: absolute;
  top: 40vh;
  transform: rotate(270deg);
  transform-origin: 0 0;
  text-align: right;
}

@media (min-width: 768px) and (max-width: 960px) {
  #section4head {
    top: 50vh;
  }
}

#contact-form input {
background-color: var(--lightgray);
 border: medium none;
 border-bottom: 2px solid var(--darkgreen);
 border-radius: 15%;
 font-family: 'Nunito', sans-serif;
 display: block;
 margin: 2.5vh auto;
 outline: none;
 padding: 2% 0;
 text-align: center;
}

.mc-field-group h2 {
  margin-left: 5%;
}
#mce-FNAME, #mce-LNAME, #mce-EMAIL {
  width: 85%;
}

#contact-form input:hover, #contact-form input:focus {
  border-bottom: 5px solid var(--peach);
}

/*Submit button*/
#contact-form input[type="submit"] {
  background-color: var(--darkgreen);
  border: 0;
  border-radius: 5px;
  color: white;
  display: block;
  font-family: 'Nunito', sans-serif;
  padding: 3%;
  text-align: left;
  width: 45%;
}
/*Hover submit button style*/
.submit-button:hover, #mc-embedded-subscribe:hover {
  box-shadow: 2px 3px 3px var(--limegreen);
}

/**/
/*Footer*/
/**/
footer {
  background: url('../img/tree.png') no-repeat center center;
  height: 50vh;
}

footer p {
  color: var(--lightgray);
  padding: 10vh 0;
  text-align: center;
}

footer img {
  transition: all 0.5s;
  width: 70%;
  max-width: 100px;
}

footer img:hover {
  transform: scale(1.2);
}
