/**/
/**/
/*Main styles*/
/**/
/**/

/**/
/*colors*/
/**/
:root {
    --limegreen: #B4DB00;
    --mediumgreen: #4CB676;
    --darkgreen:#3B7B7B;
    --lightgray: #DBDFD5;
    --peach: #FA703F;
    --charcoal:#27332F;
    --white:#FFFFFF;
}

body {
  background-color: var(--lightgray);
  font-size: 32px;
  font-family: 'Nunito', sans-serif;
  color: var(--charcoal);
  text-align: center;
}

/*AGH*/
h1 {
  color: var(--peach);
  font-size: 350px;
  font-family: 'Pathway Gothic One', sans-serif;
  margin: 0 auto;
  text-align: center;
}

/*Digital*/
h2 {
  color: var(--peach);
  font-family: 'Nunito', sans-serif;
  font-size: 200px;
  text-align: center;
}

/*Watch ideas grow*/
h3 {
  color: var(--white);
  font-family: 'Nunito', sans-serif;
  font-size: 105px;
  text-align: center;
}

h4 {
  color: var(--darkgreen);
  font-family: 'Nunito', sans-serif;
  font-size: 100px;
  text-align: center;
}

/**/
/*Header*/
/**/
header {
  align-items: center;
  background: url('../img/tree.png') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 150vh;
  justify-content: flex-end;
  margin: 0 auto;
}

#hamburger-icon {
  position: fixed;
  top: 5%;
  right: 5%;
  width: 100px;
}

#header-text {
  padding-bottom: 55vh;
  width: 100%;
}

/**/
/*Section 1*/
/**/


.section-heading {
  background: url('../img/light_greentree.png') no-repeat center center;
  background-size: 75%;
  padding: 20%;
}


/**/
/*Section 2*/
/**/

.feature {
  background-color: red;
  height: 200px;
}

.row {
  margin: 10% 0;
}
